body {
   font-family: "DM Serif Display", serif;
}
h2 {
   font-size: 4.3rem;
   font-weight: lighter;
}
h3 {
   color: #a4a4a4;
   font-weight: bold;
   font-size: 16px;
}
/* Navigation Area */
.navbar {
   font-size: 1.2rem;
   padding-top: 20px;
   padding-bottom: 20px;
}
.company_logo {
   padding-left: 100px;
}
.collapse {
   padding-right: 100px;
}
.plan_button {
   background-color: white;
   border: thin lightgray 3px;
   padding: 3px 15px 3px 15px;
}
.plan_button:hover {
   background: lightgray;
}
.nav-item {
   padding-right: 20px;
}

/* Humanizing Area */
.humanizing_area {
   background-color: #2c2640;
}
.col-lg-6 {
   padding-top: 50px;
}
.landing_line {
   width: 17%;
}
.landing_message {
   padding-left: 100px;
   color: #fffffd;
}
.support_message {
   padding-top: 7px;
   padding-bottom: 20px;
   font-size: 16px;
   font-weight: lighter;
}
.button_plan {
   background-color: #2c2640;
   color: white;
   font-weight: lighter;
   border: #fffffd solid 2px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 7px;
   padding-bottom: 7px;
}
.button_plan:hover {
   background-color: lightgray;
}
.intro_image {
   padding-left: 100px;
   position: absolute;
   width: 30%;
   top: 100px;
   z-index: 0.5;
}

/* Features Area */
#Features {
   padding-top: 200px;
   padding-left: 100px;
}
.landing_li {
   width: 7%;
   color: #2c2640;
}
.diffrent_features {
   padding-top: 20px;
}
.features_tray {
   padding-top: 40px;
}
.features_icon {
   width: 6rem;
   padding-bottom: 1.5rem;
}
.features_message {
   color: #d1d1d3;
}

/* Find out more area */
.more {
   background-color: #2c2640;
   padding-left: 100px;
   padding-top: 50px;
   padding-bottom: 50px;
}
.more_message {
   font-size: 3.5rem;
   font-weight: normal;
   color: #fffefe;
}

/* Footer Links */
.footer {
   background-color: rgb(250, 250, 250);
}
.flex-container {
   display: flex;
   padding-left: 100px;
   padding-top: 40px;
}
.flex_child {
   flex: 1;
}
.comany_social {
   padding-left: 50%;
}
.social {
   padding: 10px;
}
.linkes_divider {
   width: 82%;
   margin-left: 100px;
}
.footer-parent {
   color: #a4a4a4;
   padding-left: 100px;
}
.sub_page {
   list-style: none;
   text-align: left;
}
.sub_page li {
   color: #c8c8cd;
   font-size: 12px;
   font-weight: bold;
}

/* Footer Area */
.attribution {
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}
